<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h3>Tambah Data Item</h3>

  <form class="" action="/item/edit/<%= data[0].id %>" method="post">
    <table>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" name="name" value="<%= data[0].name %>">
        </td>
      </tr>
      <tr>
        <td>Brand</td>
        <td>
          <input type="text" name="brand" value="<%= data[0].brand %>">
        </td>
      </tr>
      <tr>
        <td>Codeitem</td>
        <td>
          <input type="text" name="codeitem" value="<%= data[0].codeitem %>">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Simpan">
        </td>
      </tr>
    </table>
  </form>

  <br>

  <a href="/item"> << kembali ke halaman item </a>

</body>
</html>
