<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h3>Data Item</h3>
  <table border="1" cellpadding="5">
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Codeitem</th>
      <th>Action</th>
    </thead>
    <% var i = 1
      data.forEach(function(r){ %>
    <tbody>
      <td><%= i %></td>
      <td><%= r.name %></td>
      <td><%= r.brand %></td>
      <td><%= r.codeitem %></td>
      <td>
        <a href="/item/edit/<%= r.id %>">Edit</a>
        <a href="/item/delete/<%= r.id %>">Delete</a>
      </td>
    </tbody>
    <% i++ }) %>
  </table>

  <br>

  <a href="/item/tambah"> Tambah Item </a>

  <br>
  <br>

  <a href="/"> << kembali ke halaman utama </a>

</body>
</html>
